/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper styles
   ========================================================================== */

.left {
    float: left;
}

/* ==========================================================================
   Global styles
   ========================================================================== */

body {
    background: black;
    color: #718282;
}

/* ==========================================================================
   Header styles
   ========================================================================== */

#container {
    width: 960px;
    background: #7d7d7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7d7d 0%, #000000 35%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7d7d), color-stop(35%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7d7d 0%,#000000 35%); /* Chrome10+,Safari5.1+ */
    margin: 0 auto;
}


#header-top-gradient {
    height: 10px;
    margin-top: 15px;
    background: #7a7a7a; /* Old browsers */
    background: -moz-linear-gradient(top, #7a7a7a 0%, #767676 20%, #6f6f6f 49%, #8c8c8c 80%, #d1d1d1 96%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a7a7a), color-stop(20%,#767676), color-stop(49%,#6f6f6f), color-stop(80%,#8c8c8c), color-stop(96%,#d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7a7a7a 0%,#767676 20%,#6f6f6f 49%,#8c8c8c 80%,#d1d1d1 96%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7a7a7a 0%,#767676 20%,#6f6f6f 49%,#8c8c8c 80%,#d1d1d1 96%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7a7a7a 0%,#767676 20%,#6f6f6f 49%,#8c8c8c 80%,#d1d1d1 96%); /* IE10+ */
    background: linear-gradient(to bottom, #7a7a7a 0%,#767676 20%,#6f6f6f 49%,#8c8c8c 80%,#d1d1d1 96%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}


#header-content {
    height: 60px;
    background: black;
}


#logo {
    display: inline-block;
    left: 20px;
    position: relative;
    top: 10px;
}


/* ==========================================================================
   Content styles
   ========================================================================== */

#content-wrapper {
    background: #d1d1d1; /* Old browsers */
    height: 100px;
    background: -moz-linear-gradient(top, #d1d1d1 1px, #8c8c8c 2px, #6f6f6f 18px, #383838 34px, #000000 78px); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1px,#d1d1d1), color-stop(2px,#8c8c8c), color-stop(18px,#6f6f6f), color-stop(34px,#383838), color-stop(78px,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d1d1d1 1px,#8c8c8c 2px,#6f6f6f 18px,#383838 34px,#000000 78px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d1d1d1 1px,#8c8c8c 2px,#6f6f6f 18px,#383838 34px,#000000 78px); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d1d1d1 1px,#8c8c8c 2px,#6f6f6f 18px,#383838 34px,#000000 78px); /* IE10+ */
    font-size: 10px;
}

#inner-content-wrapper {
    margin: 0px 20px;
}

#nav ul {
    padding: 0px;
    margin: 0px;
    color: white;
    height: 60px;
    font-family: sans-serif;
}

#nav ul li {
    /*padding: 20px 5px;*/
    height: 60px;
    display: inline-block;
    font-size: 17px;
}

#nav ul li a {
    display: block;
    padding: 20px 5px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

#nav .selected, #nav ul li:hover {
    background-color: white;
}

#nav .selected a, #nav ul li:hover > a {
    color: black;
}

#main-content {
    padding: 10px;
    background: white;
    clear: both;
}

#col-left {
    width: 200px;
    float: left;
    position: relative;
    border: 1px solid;
}

#col-left .title {
    border-top: 1px solid #aaaaaa;
    color: black; 
    font-weight: bold;
    font-family: sans-serif;
    font-size: 10px;
    padding: 4px 3px;
    background: #aaaaaa; /* Old browsers */
    background: -moz-linear-gradient(top, #aaaaaa 0%, #ededed 2%, #dedede 51%, #cecece 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(2%,#ededed), color-stop(51%,#dedede), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #aaaaaa 0%,#ededed 2%,#dedede 51%,#cecece 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #aaaaaa 0%,#ededed 2%,#dedede 51%,#cecece 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #aaaaaa 0%,#ededed 2%,#dedede 51%,#cecece 100%); /* IE10+ */
    background: linear-gradient(to bottom, #aaaaaa 0%,#ededed 2%,#dedede 51%,#cecece 100%); /* W3C */
}

#col-left .selected {
    color: white;
    background: #aaaaaa; /* Old browsers */
    background: -moz-linear-gradient(top, #aaaaaa 0%, #515151 3%, #414141 51%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(3%,#515151), color-stop(51%,#414141), color-stop(100%,#343434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #aaaaaa 0%,#515151 3%,#414141 51%,#343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #aaaaaa 0%,#515151 3%,#414141 51%,#343434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #aaaaaa 0%,#515151 3%,#414141 51%,#343434 100%); /* IE10+ */
    background: linear-gradient(to bottom, #aaaaaa 0%,#515151 3%,#414141 51%,#343434 100%); /* W3C */
}

#col-left ul {
    font-size: 10px;
    padding-left: 25px;
    list-style-image: url("../img/arrow.jpg");
}

#col-left ul li {
    padding: 3px 0px;
}

#col-right {
    float: right;
}


/* ==========================================================================
   Footer styles
   ========================================================================== */
#banner-footer {
    margin: 10px auto;
    color: white;
    font-size: 11px;
    padding: 5px;
    background: #515151; /* Old browsers */
    background: -moz-linear-gradient(top, #515151 0%, #515151 3%, #272727 51%, #1c1b1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#515151), color-stop(3%,#515151), color-stop(51%,#272727), color-stop(100%,#1c1b1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #515151 0%,#515151 3%,#272727 51%,#1c1b1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #515151 0%,#515151 3%,#272727 51%,#1c1b1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #515151 0%,#515151 3%,#272727 51%,#1c1b1b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #515151 0%,#515151 3%,#272727 51%,#1c1b1b 100%); /* W3C */
}

#footer-resources {
    background: #1a1819; /* Old browsers */
    background: -moz-linear-gradient(top, #1a1819 0%, #050505 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1819), color-stop(100%,#050505)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a1819 0%,#050505 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a1819 0%,#050505 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1a1819 0%,#050505 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1a1819 0%,#050505 100%); /* W3C */
}

#footer-resources ul {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}

#footer-resources .right-separator {
    border-right: 1px solid #718282;
}

#footer-resources .left-separator {
    border-left: 1px solid #718282;
}

#footer-resources .title {
    font-weight: bold;
    font-size: 12px; 
    color: white;
    display: block;
    margin-bottom: 5px;
}

#footer-resources ul li {
    display: inline-block;
    margin: 10px 0px;
    padding: 0px 10px;
}

#footer-resources li > ul {
    margin: 0px;
    padding: 0px;
}

#footer-resources li > ul li {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}

#footer-resources li > ul:nth-child(odd) {
    padding-left: 10px;
}

#footer-links {
    margin-top: 30px;
}

.ul-links {
   list-style: none;     
   margin: 0px auto;
   padding: 0;
   text-align: center;
}

.ul-links li {
   display: inline-block;
}

#footer-settings {
    margin: 30px 0;    
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
